
.two-column-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.left-column {
  flex: 1;
  background-color: #EADCF8;
  padding: 2rem;
  color: black; 
}

.right-column {
  flex: 1;
  background-color: #D6F1FF;
  padding: 2rem;
  color: black;
}


.links {
  display: flex;
  flex-direction: row;
  gap: 1rem; 
  list-style: none; 
  padding: 0; 
}


.left-column.dark {
  background-color: #1e1e1e;
  color: white;
}
.card-wrapper {
  perspective: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  width: 500px;
  padding: 16px; 
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
  animation: slowFlip 50s linear infinite;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  backface-visibility: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
}


@keyframes slowFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}