.left-column {
  min-height: 100vh;
  width: 100%;        /* change from 100vw to 100% */
  box-sizing: border-box;
}

.left-column.dark {
  background:
    radial-gradient(ellipse at top left, #1a1a1a 20%, transparent 60%),
    radial-gradient(ellipse at bottom right, #333333 20%, transparent 60%),
    radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 20%, transparent 70%);
  background-color: #121212;
  color: #f1f1f1;
}
