.name-animation {
  display: flex;
  gap: 0.2rem;
  font-size: 2rem;
}

.name-animation a {
  text-decoration: none;
  color: #000;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
