body {
  margin: 0;
  background-color:#e6e6fa;
  font-family: sans-serif;
}
.toggel-dark-light {
  min-height: 100vh; 
  width: 100vw;      
  box-sizing: border-box;
  padding: 30px;

}
.toggel-dark-light.dark {background:
radial-gradient(ellipse at top left, #1a1a1a 20%, transparent 60%),
radial-gradient(ellipse at bottom right, #333333 20%, transparent 60%),
radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 20%, transparent 70%);
background-color: #121212;
color: #f1f1f1;}